/bin/
/_build/
/dist/
/out/
*.exe
*.exe~
*.dll
*.so
*.dylib
coverage.out
*.coverprofile
*.test
*.modcache
vendor/
.env
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
*.log
*.tmp
*~
